AMSClient/build
AMSClient/dist
AMSClient/nbproject
AMSClient/test
AMSClient/build.xml
AMSClient/manifest.mf
AMSServer/build
AMSServer/dist
AMSServer/nbproject
AMSServer/test
AMSServer/build.xml
AMSServer/manifest.mf
/prog/AMSClient/dist/
/prog/AMSClient/nbproject/private/
/prog/AMSServer/build/
/prog/AMSServer/dist/
/prog/AMSServer/nbproject/private/